<nav class="navbar nav-expand-lg navbar-dark bg-dark ">
  <a class="navbar-brand" href="/"
    ><span class="oi oi-globe" aria-hidden="true"></span
  ></a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent1"
    aria-controls="navbarSupportedContent1"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="oi oi-menu"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent1">
    <ul class="navbar-nav mr-auto text-right">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home<span class="sr-only">(current)</span></a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/sessions/new">Log In</a>
      </li>
      <% if(currentUser) { %>
      <li>
        <a class="nav-link" href="/travel/new"
          ><span class="oi oi-plus"></span> New Post</a
        >
      </li>
      <li>
        <form action="/sessions?_method=DELETE" method="POST">
          <input class="btn btn-outline-dark" type="submit" value="Logout" />
        </form>
        <% } %>
      </li>
    </ul>
  </div>
</nav>
