<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>New User</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/main.css" />
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <a class="btn btn-outline-primary" href="/travel">Home</a>
        <% if (currentUser) { %>
        <a class="btn btn-outline-primary" href="/travel/new"
          >Create New Post</a
        >
        <a class="btn btn-outline-primary" href="/travel">See Posts</a>
        <form action="/sessions?_method=DELETE" method="POST">
          <input
            class="btn btn-outline-primary"
            type="submit"
            value="Log Out"
          />
        </form>
        <%} %>
      </nav>
      <main>
        <h1>
          <% if(currentUser) { %> Welcome <%=currentUser.username%>! <% } else { %>
                Welcome! <% } %>
        </h1>
        <br />

        <h1>Sign In</h1>
        <form action="/sessions" method="POST">
          <div class="form-group col-md-6">
            <input
              type="text"
              class="form-control"
              name="username"
              placeholder="username"
            />
          </div>
          <div class="form-group col-md-6">
            <input type="password" class="form-control" name="password" />
            <br />
            <input
              class="btn btn-outline-primary"
              type="submit"
              value="Log In"
            />
          </div>
        </form>
      </main>
    </div>
  </body>
</html>
