<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <% include ./partials/head %>
    <title>Index</title>
  </head>
  <body>
    <nav>
      <% include ./partials/nav %>
    </nav>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h4 class="display-3">See the World</h4>
        <p class="lead">Where will your next journey take you?</p>
      </div>
    </div>
    <div class="container-fluid text-center">
      <h1 class="display-4">Trending Destinations</h1>
      <br />
      <br />
      <div class="card-wrapper">
        <div class="card-deck">
          <div class="card-columns">
            <% post.forEach((post, id)=> { %>
            <div class="card">
              <a href="/travel/<%=post.id%>"
                ><img class="card-img-top img-fluid" src="<%=post.image%>"
              /></a>

              <div class="card-body">
                <h1 class="card-title"><%=post.title%></h1>
                <p class="card-text">
                  <a class="btn btn-outline-primary" href="/travel/<%=post.id%>"
                    >Read More</a
                  >
                </p>
              </div>
            </div>

            <% }) %>
          </div>
        </div>
      </div>
    </div>
    <br />
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>
