<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/main.css" />
    <title>Index</title>
  </head>
  <body>
    <nav>
      <a href="/sessions/new">Log In</a>
      <a href="/users/new">Register</a>
    </nav>
    <h1>See These Locations</h1>
    <div class="container">
      <% post.forEach((post, id)=> { %>

      <h2><a href="/travel/<%=post.id%>"><%=post.title%></a></h2>
      <a href="/travel/<%=post.id%>"><img src="<%=post.image%>"/></a>

      <br />
      <% }) %>
    </div>
    <nav>
      <a href="/travel/new">Create New Post</a>
    </nav>
  </body>
</html>
