<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/main.css" />
    <title>Index</title>
  </head>
  <body>
    <div class="container-fluid">
      <nav>
        <% include ./partials/nav %>
      </nav>
      <div class="jumbotron">
        <h4 class="display-4">See the World</h4>
        <p class="lead">Where will your next journey take you?</p>
      </div>
      <h1>Trending Destinations</h1>
      <div class="row">
        <% post.forEach((post, id)=> { %>

        <div class="col s6 m4 l3">
          <h2><a href="/travel/<%=post.id%>"><%=post.title%></a></h2>
          <a href="/travel/<%=post.id%>"
            ><img class="img-fluid img-thumbnail" src="<%=post.image%>"
          /></a>

          <% }) %>
        </div>
      </div>
      <footer>
        <% include ./partials/footer %>
      </footer>
    </div>
  </body>
</html>
