<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/main.css" />
    <title>New</title>
  </head>
  <body>
    <h1>New Post</h1>
    <form action="/travel" method="POST">
      Title:
      <input type="text" name="title" id="title" placeholder="Post Title" />
      Author:
      <input type="text" name="author" id="author" placeholder="author" />
      Image:
      <input type="text" name="image" id="image" placeholder="url" />
      Description:
      <textarea type="text" name="description" id="description"></textarea>
      <input type="submit" name="submit" value="Create New Post" />
    </form>
  </body>
</html>
