<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <nav>
      <% include ./partials/head %>
    </nav>
    <title>Wander | Travel</title>
  </head>
  <body>
    <nav>
      <% include ./partials/nav %>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>New Post</h2>
          <form action="/travel" method="POST">
            <div class="form-group col-md-6">
              <label for="title">Title</label>
              <input
                type="text"
                name="title"
                id="title"
                placeholder="title"
                class="form-control"
              />
            </div>
            <label for="author">Author</label>
            <div class="form-group col-md-6">
              <input
                type="text"
                name="author"
                id="author"
                placeholder="author"
                class="form-control"
              />
            </div>

            <label for="image">Image</label>
            <div class="form-group col-md-6">
              <input
                type="text"
                name="image"
                id="image"
                placeholder="url"
                class="form-control"
              />
            </div>
            <label for="description">Post Body</label>
            <div class="form-group col-md-12">
              <textarea
                type="text"
                class="form-control"
                rows="5"
                name="description"
                id="description"
              ></textarea>
            </div>
            <div class="form-group col-md-9">
              <input
                class="btn btn-outline-dark"
                type="submit"
                name="submit"
                value="Create New Post"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <br />
  <footer>
    <% include ./partials/footer %>
  </footer>
</html>
